body{
    margin:0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ccc;
}

h1, h2{
    text-align: center;
}

h1{
    font-size: 64px;
}

h2{
    font-size: 36px;
}

p{
    text-indent: 0.5in;
    font-size: 18px;
}

header{
    position:sticky;
    top:0;
    left:0;
    right:0;
    margin:0px 0px 0px 0px;
    border-bottom: #c55 5px solid;
    background-color: #7A7;
    padding: 10px;
}
nav{
    text-align: center;
    margin:0px;
}

nav a{
    padding: 20px 30px 20px 30px;
    margin:0px;
    color:#000;
    background-color: #eee;
    text-decoration: none;
    box-shadow: none;
    transform:none;
    transition: all 0.2s linear;
    display:inline-block;
    border-radius: 5px;
}

nav a:hover{
    background-color:#fff;
    box-shadow: 2px 2px 3px black;
}

main{
    background-color: #eee;
    margin: 0% 15% 0% 15%;
    padding: 2%;
}

footer{
    position: static;
    margin:0px 0px 0px 0px;
    border-top: #c55 5px solid;
    background-color: #7A7;
    padding:10px;
}

.index_flag_cover{
    background-image: url("../media/Flag_of_Palestine.png");
    padding: 22%;
}